/ 下の1行を追加
#map
:css
  #map {
    height: 600px;
    width: 800px;
  }
:javascript
  let map
  let geocoder

  const display = document.getElementById('display')
  
  function initMap(){
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.736641, lng:139.701628},
      zoom: 18,
    });
  
    marker = new google.maps.Marker({
      position:  {lat: 35.736641, lng:139.701628},
      map: map
    });
  }
  
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
  
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        
        display.textContent = "検索結果：" + results[ 0 ].geometry.location
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAVSWd142KAhD_FYDlJNvH6UX7sOLOOLlg&callback=initMap"}
