.gretel
  - breadcrumb :contactus
  = breadcrumbs pretext: "", separator: " &rsaquo; ",class:"gretel_link"
.contactus_header
  お問い合わせ
%p.contactus_header_sub お気軽にご連絡ください
.contactus_wrap
  .contactus_contact_wrap
    .contactus_contact
      Contact
      %p.contactus_contact_sub　ご連絡はお電話、Eメールにてお待ちしています。
  .contactus_address_wrap
    .contactus_address
      soumu@re-genex.co.jp
      %br 03-3973-5518