.gretel
  - breadcrumb :employment
  = breadcrumbs pretext: "", separator: " &rsaquo; ",class:"gretel_link"
%table.employment_main
  .employment_main_header
    募集要項
  %tr.employment_main_trTop
    %td.employment_main_subth
      採用企業名
    %td.employment_main_sub
      Re-Genex株式会社
  %tr.employment_main_tr
    %td.employment_main_subth
      雇用形態
    %td.employment_main_sub
      正社員　(試用期間6か月は契約社員)
  %tr.employment_main_tr
    %td.employment_main_subth
      募集人員
    %td.employment_main_sub
      ITエンジニア
      %br ネットワークエンジニア
      %br Webデザイナー
      %br 各種オペレーター
      %br (各育成枠含む)
      %br
      %br ■業界未経験者歓迎
      %br ■経験者優遇あり

  %tr.employment_main_tr
    %td.employment_main_subth
      求める人材
    %td.employment_main_sub
      コミュニケーションが円滑に行える方
      %br 向上心があり、やる気のある方
  %tr.employment_main_tr
    %td.employment_main_subth
      給与
    %td.employment_main_sub
      当社規定による(応相談可)
  %tr.employment_main_tr
    %td.employment_main_subth
      休暇
    %td.employment_main_sub
      週休2日制
      %br 週休2日制
      %br 年末年始休暇
      %br 慶弔休暇
      %br 有給休暇
  %tr.employment_main_trbottom
    %td.employment_main_subth
      勤務地
    %td.employment_main_sub
      本社および都内近郊お客様先