.gretel{
  height: 100px;
  width: 100%;
  background-color: #f8f8f8;
  line-height: 100px;
  text-align: right;
}
.gretel_link{
  text-decoration: none;
  margin: 0 90px 0 50px;
  color: #747474;
}
.gretelLink{
  color: #6EA81A;
  text-decoration: none;
  margin-right: 170px;
}
a{
  color: #6EA81A;
  text-decoration: none;
}