.gretel{
  height: 100px;
  background-color: #f8f8f8;
  line-height: 100px;
}
.gretel_link{
  text-decoration: none;
  text-align: right;
  margin: 0 150px 0 50px;
  color: #747474;
}
.gretelLink{
  display : block;
  color: #6EA81A;
  text-decoration: none;
  
}
a{
  color: #6EA81A;
  text-decoration: none;
}