.header_main{
  display: flex;
  height: 100px;
  line-height: 100px;
  padding: 0 0 0 50px;
  box-shadow: 50px 20px 30px 10px rgba(0,0,0,0.5);
  &_name{
    margin-top: 20px;
    width: 250px;
    height: 60px;
    background-image: url("re-genex.png");
    background-size: 250px;
  }
  &_top{
    height: 100%;
    width: 66px;
    text-align: center;
    margin-left: auto;
    padding: 0 20px 0 20px;
    &_link{
      list-style: none;
      text-decoration: none;
      color: #747474;
    }
  }
  &_CompanyInformation{
    height: 100%;
    text-align: center;
    padding: 0 20px; 
    margin: 0;
    &_link{
      list-style: none;
      text-decoration: none;
      color: #747474;
    }
  }
  &_EmploymentInformation{
    height: 100%;
    text-align: center;
    padding: 0 20px; 
    &_link{
      list-style: none;
      text-decoration: none;
      color: #747474;
    }
  }
  &_ContactUs{
    height: 100%;
    text-align: center;
    padding: 0 20px;
    margin-right: 100px;
    &_link{
      list-style: none;
      text-decoration: none;
      color: #747474;
    }
  }
}
.fixed {
  background-color: white;
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  z-index: 1000;
  animation: fadeIn 1s linear;
  padding-left: 50px;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
li{
  list-style: none;
}
.header_main_CompanyInformation_sub{
  height: 40px;
  width: 168px;
  font-size: 13px;
  line-height: 40px;
  position: relative;
  display:none;
  background-color: white;
  padding: 10px 13px;
  box-shadow:0px 1px 5px 0px rgba(0,0,0,0.5);
  color: #575757;
}
#header_main_CompanyInformation_sub:hover{
  background-color: #6EA81A;
  color: white;
}
ul{
  margin: 0;
  width: 110px;
  padding: 0;
}